header {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

a {
    width: 33.3%;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
}

a:hover {
    background-color: grey;
    color: #f1f1f1;
}